* {
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
    background-color: #d3d3d3;
}

.Card {
    width: 400px;
    margin: 150px auto 0;
    background-color: #fff;
    box-shadow: 0 3px 30px rgba(0,0,0,.14);
    color: #444;
    text-align: center;
    font-size: 16px;
}

.Card .CardHeader {
    position: relative;
    height: 80px;
}

.Card .CardHeader .ProfileImage {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.Card .CardBody {
    padding: 10px 40px;
}

.Card .CardBody .FullName{
    margin: 5px 0 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.Card .CardBody .RacerName{
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.Card .CardBody .Desc{
    line-height: 24px;;
}

.Card .SocialIcon {
    font-size: 18px;
    margin: 0 7px;
}

.Card .CardFooter {
    display: table;
    width: 100%;
    border-top: 1px solid #e6e6e6;
}

.Card .CardFooter .col{
    display: table-cell;
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #e6e6e6;
}

.Card .CardFooter .count{
    font-size: 18px;
    font-weight: 600;
}


@media screen and (max-width: 575px) {
    .Card{
        width:96%;
    }

    .Card .CardBody {
        padding:10px 20px;
    }

    .Card .CardFooter .col{
        padding 0 10px;
    }

    .Card .CardFooter .count{
        display: block;
        margin-bottom: 5px;
    }
}
